#!/bin/bash
export PIPEVER=0.8.0.F

########################
# Instructions for use #
########################

# This configuration template is to be used by users of the pipeline only to create a custom config.sh. It is not intended for reviewers, who should use the default config.sh file.
# To use this template, there are only a few variables that need to be edited; directly below the instructions, find the section labeled "Base Functions", and type a directory path into the BASE_DIR= variable. This will be wherever you downloaded this pipeline or cloned the git into. In addition, within that same folder, create a new folder to serve as the PROJECT_DIR, and name it for your project. This lets you change the project directory for future projects and re-use the pipeline from a single line change.
# Next, navigate to the very bottom of the config.sh file and find an additional set of instructions in the final section, labeled "Functional Miscellany".

##################
# BASE FUNCTIONS #
##################

CORES=${SLURM_CPUS_PER_TASK:-${SLURM_JOB_CPUS_PER_NODE%%\(*} }; CORES=${CORES//[[:space:]]/}; CORES=${CORES:-$(nproc 2>/dev/null || echo 1)}
export SCRIPTS=$(cd -- "$( dirname -- "${BASH_SOURCE[0]}" )" &> /dev/null && pwd )

export BASE_DIR=
export PROJECT_DIR="$BASE_DIR/"

###############################
# CORE FUNCTIONAL DIRECTORIES #
###############################

export SOFTWARE="$BASE_DIR/software"
export ENVS="$BASE_DIR/envs"
export DBS="$BASE_DIR/Databases"

##################################
# PROJECT DEPENDENCY DIRECTORIES #
##################################

export RAW="$PROJECT_DIR/RawSequences"
export REFS="$PROJECT_DIR/References"
export ASSEMBLY="$PROJECT_DIR/Assembly"
export ANNOTATION="$PROJECT_DIR/Annotation"
export PAN="$PROJECT_DIR/Pangenome"

###########################
# ASSEMBLY SUBDIRECTORIES #
###########################

export TRIMS="$ASSEMBLY/ExportedTrims"
export KRAKEN="$ASSEMBLY/Kraken"
export SPADES="$ASSEMBLY/Spades"
export QUAST="$ASSEMBLY/Quast"
export BUSCO="$ASSEMBLY/BUSCO"
export BUSCODL="$DBS/BuscoDL"
export PILON="$ASSEMBLY/Pilon"
export ASSEMBLIES="$ASSEMBLY/Assemblies"
export READS="$ASSEMBLY/Reads"
export HIFI="$ASSEMBLY/HiFiASM"
export FASTA="$ASSEMBLY/FASTA"
export SEQK="$ASSEMBLY/SeqKit"
export TIDK="$ASSEMBLY/TIDK"
export FUN2CLEAN="$ASSEMBLY/Cleaned"

#################################
# OPTIONAL CONTAMINANT CLEANING #
#################################

export BAM="$ASSEMBLY/BamMaker"
export BLOB="$ASSEMBLY/BlobTools"
export BLOBEXCLUDE="$BLOB/Exclude"
export FIXREADS="$ASSEMBLY/ReadsExtractor"

#############################
# ANNOTATION SUBDIRECTORIES #
#############################

export EVIDENCE="$ANNOTATION/Evidence"
export EDTA="$ANNOTATION/EDTA"
export REPEAT="$ANNOTATION/RepeatMasker"
export TRNA="$ANNOTATION/tRNAScan"
export INFERNAL="$ANNOTATION/Infernal"
export PYBAR="$ANNOTATION/PyBarrnap"
export GFF3="$ANNOTATION/GFF3Sanitizer"
export CLUSTER="$ANNOTATION/ClusterRemover"
export FUN2="$ANNOTATION/Funannotate2"
export GFACS="$ANNOTATION/gFACs"
export FIXER="$ANNOTATION/Fixer"
export ANTI="$ANNOTATION/antiSMASH"
export EGG="$ANNOTATION/eggNOG"
export IPR="$ANNOTATION/IPRScan"
export SIGNAL="$ANNOTATION/SignalP6"

############################
# PANGENOME SUBDIRECTORIES #
############################

export PANCLEAN="$PAN/PanClean"
export MASH="$PAN/MashTree"
export PARSE="$PAN/ParsedList"
export ORTHO="$PAN/Orthofinder"

#########################
# FUNCTIONAL MISCELLANY #
#########################

# To use this template, at a minimum, you MUST fill in the following variables. If a particular variable does not apply (for example, you have no Illumina reads to process), you may skip that particular variable only.


# Use this variable to fill in a space-separated (no commas) list of names inside the () that are your isolate names that were sequenced using Illumina. Please do not use spaces in the names (convert to underscores). All names must be unique, and cannot exactly match any name in the below.
export ISOLATES_ILL=()

# Use this variable to fill in a space-separated (no commas) list of names inside the () that are your isolate names that were sequenced using PacBio. Please do not use spaces in the names (convert to underscores). All names must be unique, and cannot exactly match any name in the above.
export ISOLATES_PB=()

# You do not need to manually edit this variable, this simply provides a combined version with both above lists.
export ISOLATES=("${ISOLATES_ILL[@]}" "${ISOLATES_PB[@]}")

# Use this variable to fill in the GCA/GCF accession IDs for any specimen you intend to use as a reference. It MUST be in the format, ex. GCA_011011011.1. This will be the only entry that will use accession numbers; all other reference IDs will ask for strain IDs.
export REFIDS=()

# Choose a single reference per species as your single best quality reference; this should be a GCF if available. Use the strain ID, not the accession number, for this entry.
export TOPREFS=()

# Choose a single reference ONLY as a repeat trainer for the EDTA program. This should be whichever reference has the best representation of the repeat landscape for your species/genus. Choose only one! Use the strain ID for this entry.
export TRAINER=

# Choose a list of references, one per species, to be used for ab initio gene prediction. This should be the strain ID for this entry.
export TRAINING=()

# You do not need to edit this entry; this code exists only to ensure references exist for some scripts.
if [[ -f "$REFS/references.txt" ]]; then
    REF_LIST=($(cat "$REFS/references.txt"))
    export ISOREFS=("${ISOLATES[@]}" "${REF_LIST[@]}")
else
    echo "WARNING: $REFS/references.txt not found. Please run 0.ReferenceRetriever.sh before any other scripts!"
    export ISOREFS=()
fi

# Use this variable to create a single entry for EVERY SINGLE ID, whether a novel isolate or a reference, that you have used above to identify the strain ID on the left to the species name on the right. I have left in one example to show you the proper syntax, but please delete this example when you're done. Note that the spacing at the beginning of the line is required, as is the use of "" for a binomial name.

declare -A SPECIES_MAP

SPECIES_MAP=(
    [GCC05]="Colletotrichum siamense"

)